@import 'src/assets/styles/constants.scss';
$RIGHT_MENU_WIDTH: 228px;
$MAX_INT: 2147483647;


#header {
  .menu {
    position: relative;
    height: 44px;
    background: $color-background;
    box-shadow: $box-shadow;
    &__item {
      display: inline-block;
      vertical-align: middle;
      padding: 10px;
      a {
        text-decoration: none;
        color: $color-gitbook-green--hover;
      }
      &--active {
        a {
          font-weight: bold;
        }
      }
      &--signin,
      &--signout {
        float: right;
      }
    }
  }
}
