@import 'src/assets/styles/constants.scss';

.menu-item {
  display: inline-block;
  padding: 0 20px;
  color: $color-font__lighten;
  :hover {
    color: $color-gitbook-green--hover;
  }
  &--active {
    color: $color-gitbook-green--hover;
    font-weight: bold;
  }
}
