@import 'src/assets/styles/constants.scss';
$RIGHT_MENU_WIDTH: 228px;
$MAX_INT: 2147483647;


.react-datepicker {
  &-wrapper {
    display: block;
  }
  &__input-container {
    display: block;
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 12px 25px 12px 13px;
      font-size: 14px;
      color: $color-gray;
      letter-spacing: 0.4px;
      background-color: #fff;
      border: 1px solid $color-gray--lightest;
      border-radius: 4px;
      &:focus {
        border-color: lighten($color-blue, 10);
        outline: none;
      }
      &::placeholder {
        color: $color-gray--light
      }
    }
  }
}
#event-list {
  .wrapper {
    text-align: center;
    .date {
      position: relative;
      text-align: center;
      display: inline-block;
      padding: 15px 50px 15px 20px;
      margin: 5px;
      box-sizing: border-box;
      box-shadow: $box-shadow;
      border-radius: 6px;
      cursor: pointer;
      .arrow {
        position: absolute;
        width: 16px;
        opacity: .5;
        top: 50%;
        right: 20px;
        transform: translateY(-50%) rotate(180deg);
        &:hover {
          opacity: .8;
        }
      }
    }
    .list {
      display: none;
    }
    &.opened {
      > .list {
        display: block;
      }
      .arrow {
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }
  .item {
    display: inline-block;
    max-width: 360px;
    width: 100%;
    padding: 10px;

    vertical-align: top;
    &.disabled {
      .input > input {
        color: $color-gray--light;
      }
    }
    .card {
      position: relative;
      box-sizing: border-box;
      box-shadow: $box-shadow;
      border-radius: 6px;
      padding: 40px 30px 10px 20px;

      &__field {
        margin-bottom: 10px;
        &--date {
          display: inline-block;
          vertical-align: top;
          width: 110px;
          > * {
            padding-right: 10px;
          }
        }
        &--time {
          display: inline-block;
          vertical-align: top;
          width: calc(100% - 180px);
        }
        &--duration {
          display: inline-block;
          vertical-align: top;
          width: 70px;
        }
      }
      .delete {
        position: absolute;
        top: 10px;
        right: 40px;
        cursor: pointer;
        opacity: .5;
        &:hover {
          opacity: .9;
        }
      }
      .duplicate {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        opacity: .5;
        width: 16px;
        &:hover {
          opacity: .9;
        }
      }
      .disable {
        position: absolute;
        top: 10px;
        right: 70px;
        cursor: pointer;
        opacity: .5;
        width: 22px;
        &:hover {
          opacity: .9;
        }
      }
    }
  }
  .create {
    display: inline-block;
    max-width: 360px;
    width: 100%;
    padding: 100px;

    vertical-align: top;
    > div {
      position: relative;
      max-width: 360px;
      width: 100%;
      height: 100px;
      border-radius: 6px;
      box-sizing: border-box;
      box-shadow: $box-shadow;
      cursor: pointer;
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: $color-font--light
      }
      &:hover {
        svg {
          fill: $color-font;
        }
      }
    }
  }
  .submit {
    right: 16px;
    bottom: 16px;
    display: block;
    z-index: 12;
    position: fixed;
    margin: 0;
    padding: 0;
    > button {
      color: rgb(255, 255, 255);
      width: 60px;
      cursor: pointer;
      height: 60px;
      display: inline-flex;
      box-shadow: rgba(24, 48, 85, 0.3) 0 3px 8px 0;
      line-height: 1em;
      align-items: center;
      white-space: nowrap;
      justify-content: center;
      -webkit-box-pack: center;
      background-color: $color-gitbook-green;
      -webkit-box-align: center;
      border-width: 1px;
      border-style: solid;
      border-image: initial;
      outline: none;
      padding: 0;
      border-color: transparent;
      border-radius: 60px;
      text-decoration: none;
      transition: all 250ms ease-out 0s;
      &:hover {
        background-color: $color-gitbook-green--hover;
      }
      &:disabled {
        display: none;
      }
      svg {
        display: flex;
        font-size: 24px;
        align-items: center;
        justify-content: center;
        -webkit-box-pack: center;
        -webkit-box-align: center;
        margin: 0;
      }
    }
  }
}
