@import 'src/assets/styles/constants.scss';

.time-input {
    position: relative;
    input {
        box-sizing: border-box;
        width: 100%;
        padding: 12px 25px 12px 13px;
        font-size: 14px;
        color: $color-gray--darken;
        letter-spacing: 0.4px;
        background-color: #fff;
        border: 1px solid $color-gray--lightest;
        border-radius: 4px;

        &:focus {
            border-color: lighten($color-blue, 10);
            outline: none;
        }
        &::placeholder {
            color: $color-gray--light
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 14px;
        width: 14px;
        height: 14px;
        transform: translateY(-50%);
        fill: $color-gray--light;
    }
}
