@import 'src/assets/styles/constants.scss';

#nf-page {
  text-align: center;
  color: $color-font--light;
}
.nf {
  &__code {
    padding: 100px 0;
    font-weight: 600;
    font-size: 80px;
    letter-spacing: 2.3px;
  }
  &__title {
    margin-bottom: 25px;
    font-size: 24px;
  }
  &__tip {
    font-size: 16px;
    line-height: 25px;
  }
  &__icon {
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    fill: $color-font--light;
  }
}
