@import 'src/assets/styles/constants.scss';

// чтобы не работал скролл на странице, когда открыта модалка
body.modal-open {
  overflow: hidden;
}

.modal-base {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  text-align: center;

  &.open {
    z-index: 1050;
    display: block;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #000;
    opacity: .5;
    transition: opacity .15s linear;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 12px;
    z-index: 1;
    width: 30px;
    height: 30px;
    background: #ffffff;
    transform: scale(.6);
    cursor: pointer;
    opacity: .2;
    &:hover {
      opacity: .4;
    }
    &:before, &:after {
      content: "";
      position: absolute;
      top: 14px;
      width: 30px;
      height: 2px;
      background: #000;
      box-shadow: 0 0 5px 0 rgba(63, 81, 181, 0.2);
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
  &__row {
    padding: 0 16px 16px;
    //padding: 0 16px;
      //position: relative;
      //&:not(last-child) {
      //    border-bottom: 1px solid #f5f5f3;
      //}
      //fieldset:last-of-type {
      //    margin-bottom: 0;
      //}
  }
  &__header {
    margin-bottom: 16px;
    padding: 10px 30px;
    font-size: 22px;
    text-align: center;
    color: $color-gray;
  }
  &__footer {
    //margin-bottom: 16px;
    //padding: 0;
    //text-align: center;
    //button {
    //    float: none;
    //    &:not(:first-child) {
    //        margin-left: 5px;
    //    }
    //}
  }
}