@import 'src/assets/styles/constants.scss';

.dropdown {
    position: relative;

    &__panel {
        position: relative;
        .panel {
            &__selected {
                box-sizing: border-box;
                width: 100%;
                padding: 12px 41px 12px 15px;
                overflow: hidden;
                font-weight: 600;
                font-size: 14px;
                color: $color-gray--darken;
                letter-spacing: 0.4px;
                text-overflow: ellipsis;
                background-color: $color-white;
                border: 1px solid $color-border;
                border-radius: 4px;
            }
            &__placeholder {
                color: $color-gray;
                letter-spacing: 0.3px;
            }
            &__caret {
                position: absolute;
                top: 50%;
                right: 20px;
                display: inline-block;
                width: 0;
                height: 0;
                transform: translateY(-50%);

                &--top {
                    border-right: 3px solid transparent;
                    border-bottom: 4px solid $color-gray;
                    border-left: 3px solid transparent;
                }
                &--bottom {
                    border-top: 4px solid $color-gray;
                    border-right: 3px solid transparent;
                    border-left: 3px solid transparent;
                }

                &:hover, &:focus {
                    cursor: pointer;
                }
            }
            &__cleaner {
                position: absolute;
                top: 50%;
                right: 32px;
                display: none;
                width: 10px;
                height: 10px;
                transform: translateY(-50%);
                cursor: pointer;
                opacity: .5;
                svg {
                    position: absolute;
                    left: 0;
                }
            }
        }
        &:hover {
            .panel__cleaner:not(.hidden) {
                display: block;
            }
        }
        &--disabled {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                display: inline-block;
                background-color: $color-white;
                opacity: .6;
            }
        }
        &--readonly {
            .panel__selected {
                text-overflow: ellipsis;
                background-color: $color-background;
            }
        }
    }

    &__list {
        position: absolute;
        z-index: 99999;
        display: none;
        width: 100%;
        min-width: 50px;
        max-height: 260px;
        margin: 5px 0 0;
        padding: 15px 0;
        overflow-x: hidden;
        overflow-y: auto;
        list-style: none;
        background-color: $color-white;
        background-clip: padding-box;
        border-radius: 4px;
        box-shadow: $box-shadow;
    }

    &__item {
        position: relative;
        box-sizing: border-box;
        padding: 5px 20px;
        overflow: hidden;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        color: $color-gray--darken;
        letter-spacing: 0.3px;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
        &:hover {
            background-color: $color-background;
        }
        &--disabled {
            font-weight: 100;
            text-align: center;
            color: $color-gray;
            user-select: none;
            &:hover {
                background-color: $color-white;
            }
        }
        &.selected {
            background-color: shade($color-gray);
        }
        &.position {
            background-color: $color-gray;
        }
        &:first-child {
            padding-top: 4px;
            padding-right: 15px;
        }
        &:last-child:not(disabled) {
            padding-bottom: 4px;
        }
    }

    &--open {
        .dropdown {
            &__list {
                display: block;
            }
        }
    }

    &--disabled {
        .dropdown__selected {
            color: $color-gray;
            background: $color-background;
            border: 1px solid $color-border;
            pointer-events: none;
            &:focus {
                border-color: $color-border;
                outline: none;
                box-shadow: none;
            }
        }
    }
}
