@import 'src/assets/styles/constants.scss';
@import 'src/assets/styles/mixins.scss';

$width: 26px;

.checkbox-item {
  position: relative;
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0 0 10px;
  &__check, &__radio {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    width: $width;
    height: $width;
    padding: 4px;
    border: 1px solid $color-gray--lightest;
    top: 50%;
    transform: translateY(-50%);
    svg {
      fill: transparent;
    }
  }
  &__check {
    border-radius: 2px;
  }
  &__radio {
    border-radius: 50%;
  }

  &__selected {
    svg {
      fill: $color-red;
    }
  }

  &:hover &__check, &:hover &__radio {
    background-color: $color-gray--lightest;
  }

  &__children {
    display: inline-block;
    padding-left: $width + 16px;
    line-height: $width;
    user-select: none;
  }
  &__readonly {
    opacity: 0.4 !important;
  }
}

